# Мусор ( игнорируется везде )
*.map
*.db

# Игнорирование всех папок в корне проекта
/*

# Игнорируемые папки
/.idea
/node_modules
/versions
/sources

# Обязательные файлы
!/.gitignore
!/index.html


# Обязательные папки
!/js
!/css

